body {
    background-image: linear-gradient(#29366e, silver, #29366e);
    background-attachment: fixed;
}

footer {
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-variant: small-caps;
}

.navbar {
    padding-left: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-variant: small-caps;
}

.navbar-brand {
    font-size: 2em;
}
