body {
    background-image: linear-gradient(#29366e, silver, #29366e);
    background-attachment: fixed;
}

footer {
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-variant: small-caps;
    text-align: center;
}

.navbar {
    padding-left: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-variant: small-caps;
}

.navbar-brand {
    font-size: 2em;
    float: none;
}

.filter {
    background-color: silver;
    color: #4d5887;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.form-control { 
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.panel-body {
    text-align: center;
}

.btn {
    color: silver;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 1em;
    text-decoration: underline;
}